name: Vinted Sniper

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  snipe:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install
        run: pip install -r requirements.txt
      - name: Run
        env:
          BOT_CONFIG: ${{ secrets.BOT_CONFIG }}
        run: python main.py
      - name: Save
        run: |
          git config --global user.name "VintedBot"
          git config --global user.email "bot@vinted.com"
          git add seen_items.txt
          git commit -m "Update DB [skip ci]" || exit 0
          git push
